<!-- <mat-list> -->
  <!-- <mat-list-item > -->
  <mat-expansion-panel *ngFor="let part of book.parts" class="mat-elevation-z0">
    <mat-expansion-panel-header [class.selected]="part.paragraphs.includes(selectedParagraph)">
      <h3>
        {{part.name}}
      </h3>
    </mat-expansion-panel-header>

    <mat-list>
      <!-- <mat-list-item > -->
        <!-- <a routerLink="/about"> -->
          
          <div *ngFor="let paragraph of part.paragraphs" class="paragraph-name"  [class.selected]="paragraph === selectedParagraph"  (click)="onSelect(paragraph)"> 
            {{paragraph.name}}
          </div>
          <!-- <mat-panel-title> -->
          <!-- </mat-panel-title> -->
        <!-- </a> -->
      <!-- </mat-list-item> -->
    </mat-list>
  </mat-expansion-panel>
  <!-- </mat-list-item> -->
<!-- </mat-list> -->