<mat-toolbar color="primary" class="header mat-elevation-z8">

  <mat-toolbar-row>
    <a mat-button routerLink="/book">
      <span style="font-size: 2em">
        (Some logo)
      </span>
    </a>
    <a mat-button routerLink="/book">
      Онлайн-книга
    </a>
    <a mat-button routerLink="/about">
      Об авторе
    </a>
    <span class="spacer"></span>

    <mat-icon class="app-icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="router-wrapper">
  <router-outlet></router-outlet>
</div>

<mat-toolbar color="primary" class="footer mat-elevation-z8">

  <mat-toolbar-row>
    <!-- <a mat-button routerLink="/book">
        <span style="font-size: 2em">
          (Some logo)
        </span>
      </a>
      <a mat-button routerLink="/book">
        Онлайн-книга
      </a> -->

    <span class="spacer"></span>
    <a mat-button href="https://github.com/almosvirog">
      &copy; website by Sergei Solovev
    </a>
    <!-- <mat-icon class="app-icon">lock</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>