mat-toolbar, .router-wrapper {
    position: absolute;
    width: 100%;
}

mat-toolbar {
    z-index: 100;
}

mat-toolbar.header {
    top: 0;
    height: 70px;
}

.router-wrapper {
    top: 70px;
    bottom: 70px;
}

mat-toolbar.footer {
    bottom: 0;
    height: 70px;
}

a {
    /* color: white !important; */
}